/* work-sans-regular - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/work-sans/work-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/work-sans/work-sans-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans/work-sans-v18-latin-regular.woff2") format("woff2"), url("../assets/fonts/work-sans/work-sans-v18-latin-regular.woff") format("woff"), url("../assets/fonts/work-sans/work-sans-v18-latin-regular.ttf") format("truetype"), url("../assets/fonts/work-sans/work-sans-v18-latin-regular.svg#WorkSans") format("svg"); /* Legacy iOS */
}
/* work-sans-500 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/work-sans/work-sans-v18-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/work-sans/work-sans-v18-latin-500.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans/work-sans-v18-latin-500.woff2") format("woff2"), url("../assets/fonts/work-sans/work-sans-v18-latin-500.woff") format("woff"), url("../assets/fonts/work-sans/work-sans-v18-latin-500.ttf") format("truetype"), url("../assets/fonts/work-sans/work-sans-v18-latin-500.svg#WorkSans") format("svg"); /* Legacy iOS */
}
/* work-sans-600 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/work-sans/work-sans-v18-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/work-sans/work-sans-v18-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans/work-sans-v18-latin-600.woff2") format("woff2"), url("../assets/fonts/work-sans/work-sans-v18-latin-600.woff") format("woff"), url("../assets/fonts/work-sans/work-sans-v18-latin-600.ttf") format("truetype"), url("../assets/fonts/work-sans/work-sans-v18-latin-600.svg#WorkSans") format("svg"); /* Legacy iOS */
}
/* work-sans-700 - latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/work-sans/work-sans-v18-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/work-sans/work-sans-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans/work-sans-v18-latin-700.woff2") format("woff2"), url("../assets/fonts/work-sans/work-sans-v18-latin-700.woff") format("woff"), url("../assets/fonts/work-sans/work-sans-v18-latin-700.ttf") format("truetype"), url("../assets/fonts/work-sans/work-sans-v18-latin-700.svg#WorkSans") format("svg"); /* Legacy iOS */
}
/* roboto-slab-100 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-100.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-100.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-100.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-100.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-100.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
/* roboto-slab-200 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-200.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-200.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-200.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-200.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-200.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
/* roboto-slab-300 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-300.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-300.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-300.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-300.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-300.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-regular.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-regular.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-regular.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-regular.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
/* roboto-slab-500 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-500.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-500.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-500.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-500.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-500.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
/* roboto-slab-600 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-600.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-600.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-600.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-600.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-600.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
/* roboto-slab-700 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-700.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-700.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-700.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-700.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-700.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
/* roboto-slab-800 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-800.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-800.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-800.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-800.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-800.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
/* roboto-slab-900 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-900.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-900.woff2") format("woff2"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-900.woff") format("woff"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-900.ttf") format("truetype"), url("../assets/fonts/roboto-slab/roboto-slab-v24-latin-900.svg#RobotoSlab") format("svg"); /* Legacy iOS */
}
nav.navbar {
  padding: 0.5em 0;
}
nav.navbar .navbar-brand {
  padding: 0;
}
nav.navbar .navbar-brand img {
  height: 50px;
}

header {
  position: relative;
  background-color: var(--bs-dark);
  color: var(--bs-light);
  height: calc(100vh - 1em - 50px);
  width: 100%;
  overflow: hidden;
}
header picture {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
header picture img {
  height: 100%;
  width: 100%;
}
header picture:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
header .title {
  position: absolute;
  bottom: 3%;
  left: 1%;
  text-transform: uppercase;
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}
header .title h1 {
  font-family: "Work Sans";
  font-size: calc(2rem + 3vw);
  font-weight: 600;
  color: #FFF;
}
header .texts {
  position: absolute;
  bottom: 20%;
  left: 5%;
  font-size: calc(0.8rem + 0.5vw);
  color: rgba(255, 255, 255, 0.6);
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}
header .image__1 {
  position: absolute;
  top: 10%;
  left: 1%;
  animation-name: fadeInUp;
  animation-duration: 1.5s;
}
header .image__1 img, header .image__1 .hover__extend {
  width: calc(100px + 10vw);
  border-radius: 2px;
}
header .image__2 {
  position: absolute;
  top: 5%;
  right: 5%;
  animation-name: fadeInRight;
  animation-duration: 1.5s;
}
header .image__2 img, header .image__2 .hover__extend {
  width: calc(50px + 20vw);
}
header .image__contain {
  z-index: 1;
}
header .image__contain .hover__extend {
  display: none;
}
header .image__contain:hover {
  z-index: 3;
}
header .image__contain:hover .hover__extend {
  display: block;
  animation-name: fadeInDown;
  animation-duration: 0.6s;
}
header .image__contain:hover ~ .bg__black {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
header .bg__black {
  position: absolute;
  inset: 0;
  background-color: transparent;
  transition: 0.3s all;
}

@media (max-width: 768px) {
  header.header .image__contain {
    display: none;
  }
  header.header .title {
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    animation-name: fadeInDown;
    animation-duration: 1.5s;
  }
  header.header .title h1 {
    font-size: calc(1.5em + 2vw);
  }
  header.header .texts {
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: calc(1em + 1vw);
    animation-name: fadeInUp;
    animation-duration: 1.5s;
  }
}
.arts {
  width: 100%;
  position: relative;
}
.arts .title {
  position: absolute;
  top: 2%;
  left: 10%;
  color: #FFF;
  z-index: 2;
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}
.arts #artsCarousel .carousel-inner .carousel-item picture {
  width: 100%;
  overflow: hidden;
  isolation: isolate;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}
.arts #artsCarousel .carousel-inner .carousel-item picture::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: 1;
}
.arts #artsCarousel .carousel-inner .carousel-item picture img {
  position: relative;
  width: 100%;
  z-index: 0;
}
.arts #artsCarousel .carousel-inner .carousel-item h3 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #FFF;
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}
.arts #artsCarousel .carousel-inner .carousel-item .imgs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
  gap: 10vw;
}
.arts #artsCarousel .carousel-inner .carousel-item .imgs .img {
  flex: 1 1 0;
  max-width: 30%;
  animation-name: fadeInUp;
  animation-duration: 1.5s;
}
.arts #artsCarousel .carousel-inner .carousel-item .imgs .img img {
  min-width: 100px;
  width: 100%;
}
.arts #artsCarousel .carousel-inner .carousel-item .imgs .img .name {
  text-align: center;
  color: #FFF;
}
.arts #artsCarousel .carousel-control {
  width: auto;
}
.arts #artsCarousel .carousel-control.carousel-control-prev {
  margin-left: 1em;
}
.arts #artsCarousel .carousel-control.carousel-control-next {
  margin-right: 1em;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto Slab";
}

/*# sourceMappingURL=index.css.map */
